body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: relative;

    background: #FEF4E8;
}

header {
    display: flex;
    font-weight: bold;

}

#logo {
    position: relative;
    width: 20%;
    height: 100px;
    margin-top: 20px;


    object-fit: cover;
    border-radius: 16px
}

ul {
    display: inline-flex;
    position: relative;
    padding-top: 10px;
    font-size: 30px;

}

li {
    position: relative;
    padding-inline: 80px;

}

#fond {

    width: 100%;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
}

#recherche {

    position: absolute;

    width: 308px;
    height: 49px;
    left: 1089px;
    top: 278px;
    font-size: 25px;

    border-radius: 16px;
}


#ligne1 {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;

    justify-content: space-between;

}

#cat1 {
    position: relative;
    left: 60px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
}

#cat2 {

    width: 300px;
    height: 200px;

    border-radius: 16px;
}

#cat3 {

    position: relative;
    width: 300px;
    height: 200px;
    right: 60px;
    border-radius: 16px;

}

#ligne2 {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;

    justify-content: space-between;

}

#cat4 {
    position: relative;
    left: 60px;
    width: 300px;
    height: 200px;
    border-radius: 16px;

}

#cat5 {

    width: 300px;
    height: 200px;
    border-radius: 16px;
}

#cat6 {
    position: relative;
    width: 300px;
    width: 300px;
    height: 200px;
    right: 60px;
    border-radius: 16px;
}

#ligne3 {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

#plat1 {
    position: relative;
    left: 60px;
    width: 300px;
    height: 150px;
    border-radius: 16px;

}

#plat2 {

    width: 300px;
    height: 150px;
    border-radius: 16px;
}

#plat3 {
    position: relative;
    width: 300px;
    height: 150px;
    right: 60px;
    border-radius: 16px;
}



footer {

    position: relative;
    display: inline-flex;
    border: 2px solid;
    height: 70px;
    width: 485px;
    top: 60px;
    bottom: 30px;
    left: 480px;
    border-radius: 16px;
    box-shadow: 20px;
    background-color: aliceblue;


}

#insta {

    position: relative;
    left: 20px;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    top: 10px;
    border-radius: 16px;
}

#face {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 16px;
}

#whatsapp {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    top: 10px;

    width: 50px;
    height: 50px;
    border-radius: 16px;
}

#twitter {

    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 16px;
}
/***********Effet de zoom en survolant les catégories de la page accueil*****************/
.survol1 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.survol1:hover {

    transform: scale(1.2);
}

.survol2 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.survol2:hover {

    transform: scale(1.2);
}

.survol3 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.survol3:hover {

    transform: scale(1.2);
}

.survol4 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.survol4:hover {

    transform: scale(1.2);
}

.survol5 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.survol5:hover {

    transform: scale(1.2);
}

.survol6 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.survol6:hover {

    transform: scale(1.2);
}

/***********************************Page Cathegorie************************************/
#precedent {
    position: relative;
    width: 250px;
    height: 80px;
    left: 110px;
    top: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 16px;

}

#suivant {

    position: relative;
    width: 250px;
    height: 80px;
    left: 850px;
    top: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 16px;

}

/***********************************Page Plats************************************/
#ligne11 {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#plat11 {
    position: relative;
    left: 60px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
}

#plat12 {

    width: 300px;
    height: 200px;

    border-radius: 16px;
}

#plat13 {

    position: relative;
    width: 300px;
    height: 200px;
    right: 60px;
    border-radius: 16px;

}

#ligne22 {
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#plat14 {
    position: relative;
    left: 60px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
}

#plat15 {

    width: 300px;
    height: 200px;

    border-radius: 16px;
}

#plat16 {

    position: relative;
    width: 300px;
    height: 200px;
    right: 60px;
    border-radius: 16px;

}