html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: relative;

background: #FEF4E8;
}
header{
display: flex;
font-weight: bold;

}
#logo{
position: relative;
width: 20%;
height: 107px;
left: 20px;
top: 20px;

object-fit: cover;
border-radius: 16px
}
ul{
   display: inline-flex;
   position: relative;
   width: 100%;
   
   padding-top: 25px;
   font-size: 30px;
   
}
li{
    position: relative;
    margin-left: 200px;

}

 #fond{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 150px;
    object-fit: cover ;
 }
#recherche{

position: absolute;

width: 308px;
height: 49px;
left: 1089px;
top: 278px;
font-size: 25px;

border-radius: 16px;
}



#ligne1{
display: flex;

justify-content:center;

}
#cat1{

padding:50px ;
margin-top: 250px;
border-radius: 16px;
}

#cat2{
    padding:50px ;
    margin-top: 250px;
    border-radius: 16px;
}

#cat3{

    padding-right:150px ;
    margin-top: 250px;
    border-radius: 16px;

}
/*
#cat4{
    position: absolute;
width: 200px;
height: 150px;
left: 138px;
top: 555px;

background: url(pizza_cat.jpg);
border-radius: 16px;

}
#cat5{
    
position: absolute;
width: 200px;
height: 150px;
left: 620px;
top: 555px;

background: url(burger.jpg);
border-radius: 16px;
}
#cat6{
    position: absolute;
width: 200px;
height: 150px;
left: 1102px;
top: 555px;

background: url(salade_cat);
border-radius: 16px;
}
#plat1{
    position: absolute;
width: 200px;
height: 100px;
left: 138px;
top: 773px;

background: url(spaghetti-legumes.jpg);
border-radius: 16px;
}

#plat2{
    
position: absolute;
width: 200px;
height: 100px;
left: 620px;
top: 773px;

background: url(lasagnes_viande);
border-radius: 16px;
}

#plat3{
    
position: absolute;
width: 200px;
height: 100px;
left: 1102px;
top: 773px;

background: url(cheesburger);
border-radius: 16px;
}
footer{
  
    border:2px solid ;
    height: 70px;
    width: 485px;
    margin-top:385px;
    margin-left: 485px;
    border-radius: 16px;
    box-shadow:20px ;
    background-color: aliceblue;
}

#insta{

position: absolute;
width: 50px;
height: 50px;
left: 513px;
top: 942px;

background: url(Instagram-Icon);
border-radius: 16px;
}
#face{

    position: absolute;
    width: 50px;
    height: 50px;
    left: 646px;
    top: 942px;
    
    background: url(face2.png);
    border-radius: 16px;
}
#whatsapp{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 779px;
    top: 942px;
    
    background: url(whatsapp.png);
    border-radius: 16px;
}
#twitter{

position: absolute;
width: 50px;
height: 50px;
left: 912px;
top: 942px;

background: url(twitter.png);
border-radius: 16px;
}*/
/***********************************Page Cathegorie************************************/
#precedent{
    position: absolute;
    width: 250px;
    height: 80px;
    left: 138px;
    top: 778px;
    font-size: 30px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 16px;
    
    }
    #suivant{
    
    position: absolute;
    width: 250px;
    height: 80px;
    left: 1055px;
    top: 778px;
    font-size: 30px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 16px;
    
    }

/***********************************Page Plats************************************/


#plat11{
position: absolute;
width: 200px;
height: 150px;
left: 138px;
top: 337px;

background: url(pasta_cat.jpg);
border-radius: 16px;
}
#plat12{
    position: absolute;
width: 200px;
height: 150px;
left: 620px;
top: 337px;

background: url(asian_food_cat.jpg);
border-radius: 16px;
}
#plat13{

position: absolute;
width: 200px;
height: 150px;
left: 1102px;
top: 337px;

background: url(veggie_cat);
border-radius: 16px;
}
#plat14{
    position: absolute;
width: 200px;
height: 150px;
left: 138px;
top: 555px;

background: url(pizza_cat.jpg);
border-radius: 16px;

}
#plat15{
    
position: absolute;
width: 200px;
height: 150px;
left: 620px;
top: 555px;

background: url(burger.jpg);
border-radius: 16px;
}
#plat16{
    position: absolute;
width: 200px;
height: 150px;
left: 1102px;
top: 555px;

background: url(salade_cat);
border-radius: 16px;
}